<!--Sobre Mi -->
<section class="border-white/20 border-b">
  <div class="mx-auto border-white/20 border-x max-w-7xl gradient-grid">
    <!-- <div class="mx-auto max-w-7xl px-8 py-6">
        <p class="text-3xl font-bold font-display text-white uppercase text-center">
          Sobre Mi
        </p>
      </div> -->
     
    <div class="mx-auto max-w-7xl px-8 py-8 flex justify-around flex-row items-center">
      
      <p class="text-l font-medium font-display text-white uppercase pr-8 " >        
        Desarrolladora Web con 2 años de experiencia en proyectos freelance y
        estudiante de Desarrollo de Software. 
        <br /><br />
        Con enfoque organizado
        y creatividad, busco desafíos que fusionen diseño y desarrollo. Destaco por
        mi habilidad para proponer soluciones innovadoras. Busco contribuir en nuevos
        proyectos y aprender.
      </p>
      <img class="rounded-full w-40 h-40 "
    src="../../../public/resources/imgperfil.webp">
    </div>
  </div>
</section>
