<section class="border-white/20  border-b ">
    <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
      <!-- <div class="mx-auto max-w-7xl px-8 py-6">
        <p class="text-3xl font-bold font-display text-white uppercase">
          QUÉ NOS DIFERENCIA
        </p>
      </div> -->
      <div class="mx-auto max-w-7xl px-8 py-8">
        <p class="text-xl font-medium font-display text-white uppercase">
          En Opal Dev, nos apasiona dar vida a tus ideas. Nuestro enfoque centrado en el usuario garantiza que cada proyecto no solo sea funcional, sino también atractivo y fácil de usar. <br><br>
          Creemos en la individualidad de cada proyecto. Adaptamos nuestras habilidades y creatividad para darle vida a tu visión.
        </p>
      </div>
    </div>
  </section>