---
const EDUCATIONS = [
    {
        name: "Tecnicatura Superior en Desarrollo de Software",
        institution: "IFTS N° 29 - CABA",
        year: "Marzo 2023 - Actualmente",
        tags: [".NET", "C#", "Python"],
    },
    {
        name: "Desarrollador Web FullStack",
        institution: "Santex - Technology with Purpose - CBA",
        year: "Marzo 2023 - Octubre 2023",
        tags: ["HTML", "CSS", "TypeScript", "Angular", "ExpressJs", "MySQL", "NestJs"],
    },
];
---

<section id="projects">
    <div
        class="text-white order-first p-8 text-center lg:border-b lg:border-white/20"
    >
        <span class="block font-display text-xl"> FORMACION</span>
    </div>
</section>
<section class="flex flex-row justify-around"
    
>
    <ul  class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto px-8 pb-8 sm:grid-cols-2">
        {
            EDUCATIONS.map((education) => (
                    <li class="flex flex-col justify-between p-2">
                        <div class="text-[#a02ced]">
                            <span class="block font-semibold">
                                {education.name}
                            </span>
                            <span class="block text-eagle">
                                {education.institution}
                            </span>
                            <span class="block text-eagle">{education.year}</span>
                        </div>
                        <div class="my-3 flex justify-around ">
                            
                                    {education.tags.map((tag) => (
                                        <img
                                            class="w-5 "
                                            src="../../../resources/logo-technologies/800px-HTML5_Badge.svg-min.png"
                                            alt={tag}
                                        />
                                    ))}
                                </div>
                    </li>
                ))
        }
    </ul>
</section>
