---
import ButtonTop from '../components/global/ButtonTop.astro';
import Banner from '../components/landing/Banner.astro';
import Contact from '../components/landing/Contact.astro';
import Divider from '../components/landing/Divider.astro';
import Educations from '../components/landing/Educations.astro';
import Illustrations from '../components/landing/Illustrations.astro';
import Projects from '../components/landing/Projects.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Cinthia Romina - Desarrolladora Web">
	<Banner />
	<Educations />
	<!-- <ButtonTop /> -->
	<Projects />
	<Illustrations />
	<Divider />
	<Contact />
	<main>
		<!-- <h1 class="text-carrot py-8 text-center font-extrabold">Index.astro</h1> -->
	</main>
</Layout>

