<footer class="border-white/20 border-b bg-accent-500 text-white mx-auto">
    <div
        class="mx-auto border-white/20 border-x max-w-7xl justify-between w-full"
    >
        <!-- absolute bottom-0 -->
        <!-- <div class="mx-auto p-8 items-start justify-between w-full">
            <div class="text-white text-center items-center mx-auto">
                <p class="uppercase font-display text-2xl">Opal Dev</p>
                <p class="mx-auto mt-3 text-sm">
                    Designed and built in the Åland Islands by <a
                        class="underline"
                        href="https://x.com/Mike_Andreuzza">Michael Andreuzza</a
                    >.
                </p>
            </div>
        </div> -->

        <div
            class="px-8 py-12 justify-between w-full flex flex-col sm:flex-row border-white/20 border-t"
        >
            <h1 class="text-white font-bold text-2xl text-left font-display">
                Redes
            </h1>

            <div class="footer-enlaces-link ">
                <ul class="footer-link-list">
                    <li class="footer-link py-0.5 flex flex-col items-end">
                        
                        
                        <a
                            href="https://github.com/VCinthia"
                            target="_blank"
                            ><i class="fab fa-github"></i><span
                                >GitHub</span
                            ></a
                        >
                        <a
                            href="https://www.linkedin.com/in/cinthiavota/"
                            target="_blank"
                            ><i class="fab fa-github"></i><span
                                >LinkedIn</span
                            ></a
                        >
                        <a
                            href="https://www.instagram.com/opal.dev/?hl=es-la"
                            target="_blank"
                            ><i class="fab fa-instagram"></i><span
                                >Instagram</span
                            ></a>
                            <a
                        href="https://www.twitch.tv/cinthiarv"
                        target="_blank"
                        ><i class="fab fa-twitch"></i><span
                        >Twitch</span
                        ></a>                        
                    </li>
                </ul>
            </div>
        </div>
        <!--LINEA + 2024 OPAL DEV -->
        <div class="mx-auto border-white/20 border-t  p-8">
            <p class="text-white text-center text-sm font-display center flex justify-center align-baseline">
                &copy; 2024 - Cinthia Romina
                <svg
                    class=" mx-1 text-white"
                    width="20"
                    height="20"
                    viewBox="0 0 50.8 50.8"
                    xmlns="http://www.w3.org/2000/svg"
                    ><path
                        d="m19.494 7.144a19.226 19.226 0 0 0 -12.35 12.35m36.512 0a19.224 19.224 0 0 0 -12.349-12.348m-24.161 24.16a19.224 19.224 0 0 0 12.348 12.35m11.813-.002a19.222 19.222 0 0 0 12.347-12.347m-18.254-25.487c5.41 17.6 1.986 14.176 19.58 19.58-17.594 5.41-14.17 1.986-19.58 19.58-5.404-17.594-1.98-14.17-19.58-19.58 17.6-5.404 14.176-1.98 19.58-19.58z"
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"></path></svg
                >
            </p>
        </div>
    </div>
</footer>
